body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  background-color: #cccccc;
  line-height: 2;
  align-items: center;
}

p,h1,h2,h3,h4,h5 {
  margin: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #ff9891;
  text-decoration: none;
}

a:visited {
  color: #635846;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 1700px;
  height: 170px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ll-nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 10;
  width: 50%;
}

.ll-nav li {
  margin: 0 20px;
  font-size: 18px;
  list-style: none;
}

.ll-nav li a {
  color: white;
}

.ll-nav li a:hover {
  border-bottom: 2px solid;
  padding-bottom: 8px;
  text-decoration: none;
}

.main {
  width: 1700px 250px;
  margin: 0px 0px 0px 50px;
}

footer {
  text-align: center;
  color: #ffffff;
  padding: 200px 0 0 0;
}

footer small {
  font-size: 12px;
}

#top h1 {
  font-size: 95px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
  margin: 100px 0 40px 0;
}

#top p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.btn {
  background-color: #ff9891;
  color: #fff;
  font-size: 20px;
  width: 200px;
  display: block;
  margin: 20px auto;
  padding: 5px 0;
  text-align: center;
  border-radius: 5px;
  border: #ff9891;
}

.btn:hover {
  text-decoration: none;
  background-color: #fff;
  color: #ff9891;
}

#top footer {
  margin-top: 200px;
}
#top {
  height: 100%;
  background-image: url(img/5F.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

